
  <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg max-w-5xl mx-auto sm:px-6 lg:px-8 space-y-6">
    <form [formGroup]="form" (submit)="add()">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base font-semibold leading-7 text-gray-900">Ajouter un Moniteur :</h2>

          <div class="mt-8 grid grid-cols-1  gap-x-6 gap-y-8 sm:grid-cols-6 items-start">
            <div class="sm:col-span-3">
              <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
              <input type="text" id="nom" formControlName="nomM" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
              <div *ngIf="nomM.invalid && (nomM.dirty || nomM.touched) " class="text-sm text-red-600 space-y-1 mt-2">
                <div *ngIf="nomM.errors['required']">Nom est obligatoire</div>
                <!-- Add more conditions for other errors -->
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prenom</label>
              <input type="text" id="prenom" formControlName="prenomM" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">
              <div *ngIf="prenomM.invalid && (prenomM.dirty || prenomM.touched)" class="text-sm text-red-600 space-y-1 mt-2">
                <div *ngIf="prenomM.errors['required']">Prenom est obligatoire</div>
                <!-- Add more conditions for other errors -->
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="dateN" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date naissance</label>
              <input type="date" id="dateN" formControlName="dateRecru" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5" placeholder="Select date">
              <div *ngIf="dateRecru.invalid && (dateRecru.dirty || dateRecru.touched)" class="text-sm text-red-600 space-y-1 mt-2">
                <div *ngIf="dateRecru.errors['required']">Date est obligatoire</div>
                <!-- Add more conditions for other errors -->
              </div>
            </div>

          </div>
        </div>


      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="submit"  class="rounded-md bg-blue-700 cur uppercase px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-900 cursor-pointer">
          Ajouter</button>
      </div>
    </form>
  </div>

