<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
<app-stats-widget icon="insert_chart" value="28" color="#2ecc71"></app-stats-widget>
